/* Incicio Estilos Recuperar contraseña */

.styleTitle{
    position: absolute;
    width: 365px;
    height: 55px;
    left: 286px;
    top: 96px;
    
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;
    
    color: rgba(0, 0, 0, 0.99);
}
.styleSubtitle{
    position: absolute;
    width: 709px;
    height: 84px;
    left: 110px;
    top: 227px;
    
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    
    color: rgba(0, 0, 0, 0.99);
    
  }
  .styleImagen{
    position: absolute;
    width: 857px;
    height: 428px;
    left: 20px;
    top: 366px;
  }
  .styleImagen2{
    position: absolute;
    width: 253px;
    height: 48px;
    left: 356px;
    top: 150px;
  }
  .styleText{
    position: absolute;
    width: 448px;
    height: 50px;
    left: 250px;
    top: 280px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    text-align: center;

    color: #000000;
    
  }
  .styleData{
    position: absolute;
    width: 148px;
    height: 21px;
    left: 180px;
    top: 420px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    
    /* identical to box height */
    
    
    color: #000000;
  }
 .styleRInput {
    position: absolute;
    width: 580px;
    height: 48px;
    left: 180px;
    top: 455px;
  }  
  .stylerinput{
    background: #A6D2EB;
    border: 1px solid #137EBA;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .styleButtomRecuperar {
    position: absolute;
    width: 253px;
    height: 63px;
    left: 350px;
    top: 550px;
    font-size: 24px;

    background: #0DA0F2;
    border: #0DA0F2;
    color: #FFFFFF;

  }
  
  /* Final estilos Recuperar contraseña */