.login__title, .login__subtitle {
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

.login__title {
  font-size: 48px;
  font-weight: bold;
  margin: 70px 0px;
}

.login__subtitle {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 100px;
}

.login__image {
  margin-top: 100px;
}

.login__text {
  font-size: 13px;
  margin-top: 16px;
  margin-bottom: 90px;
}

.last-input-margin {
  margin-top: 20px;
}

.login__recover-password-link {
  display: block;
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin: 30px 0px;
}

.login__without-account {
  margin-top: 20px;
  font-size: 20px;
  color: black;
}

.login__without-account--link {
  color: #E0061F;
  font-weight: bold;
}
